NEXT_PUBLIC_USER_API=https://user-service-production-ad5c.up.railway.app/graphql
NEXT_PUBLIC_AVAILABILITY_API=https://availability-service-production-95c1.up.railway.app/graphql
NEXT_PUBLIC_SESSION_API=https://studysessionservice-production.up.railway.app/graphql
NEXT_PUBLIC_NOTIFICATION_API=https://notificationservice-production-6cc2.up.railway.app/graphql
NEXT_PUBLIC_MATCHING_API=https://matching-service-production-7bb4.up.railway.app/graphql
NEXT_PUBLIC_PROFILE_API=https://profile-production-14b5.up.railway.app/graphql
